body{
    overflow-x: hidden;
}

.row{
    display: flex;
}

.column{
    flex: 50%;
    /*height: auto;*/
}

.intro-container{
    height: 100vh;
    width: 100vw;
}

.testing{
    height: 600px;
    width: 1200px;
    margin-left: 10rem;
    /*margin-top: 10rem;*/
}

.intro-left{
    text-align: center;
    /*margin-top: 20rem;*/
}

.intro-right{
    text-align: center;
}

.project-image {
    max-width: 50%; /* Set a maximum width to maintain aspect ratio */
    height: auto; /* Let the browser calculate the height while maintaining the aspect ratio */
    display: block; /* Set the image as a block element */
    margin: 0 auto;
}

.projects-container{
    text-align: center;
}

.kyte-container, .adlister-container, .coffee-project-container{
    margin-top: 80px;
    margin-bottom: 80px;
}
